@media (max-width: 599px){
    .location{
        display: flex;
        flex-direction: column;

    }
    .map-title{
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin: 0.5rem;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .map-container{
        display: flex;
        width: 100vw;
        min-width: 300px;
        align-items: center;
        margin: 1rem auto;
    }
    .map{
        width: 80vw;
        min-width: 280px;
        margin: auto;
        align-items: center;

    }
}
@media (min-width: 600px){
    .location{
        display: flex;
        flex-direction: column;

    }
    .map-title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
    }
    .map-container{
        display: flex;
        width: 100vw;
        max-width: 1300px;
        align-items: center;
        margin: 1rem auto;
    }
    .map{
        width: 80%;
        max-width: 1040px;
        max-height: 500px;
        margin: auto;
        align-items: center;

    }
}